

/*////// Landing Page Styling //////*/

body  {
    margin: 0;
    background: url("/static/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: transparent;
}

.vertical-center {
    position: absolute;
    top: 58%; 
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80%;
    width: 80%;
}

#text-for-styling {
    color: #DCB239;   /* Lemon */
    font-family: 'Nanum Myeongjo', serif;
    font-size: 28px;   
    font-weight: 900;
    /*text-shadow: 2px 2px 8px #DCB239;*/
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


#text-for-styling:hover {
    background-color: #DCB239; /* Lemon */
    color: white;
}

#text-for-styling2 {
    color: #F5F5F5;  /* WhiteSmoke */
    font-family: 'Nanum Myeongjo', serif;
    font-size: 23px;
    font-weight: bolder;
    /*text-shadow: 2px 2px 8px #DCB239;*/
}


h1 {
    font-size: 175px;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-weight: bolder;
 }

h2 {
    font-size: 40px;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    font-weight: bolder;
}

#button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button:hover {
    background-color: #DCB239; /* Lemon */
    color: #F5F5F5;  /* WhiteSmoke */
}


::placeholder {
    color: #DCB239;  /* Lemon */
    opacity: 1; /* Firefox */
    text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #DCB239;  /* Lemon */
   text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #DCB239;  /* Lemon */
   text-align: center;
}

hr {
    display: block;
    height: 1px;
    width: 85%;
    border: 0;
    border-top: 3px solid #DCB239;  /* Lemon */
    margin: 1em 0;
    padding: 0; 
    size: 1;
}

select:invalid {
    color: #DCB239;    /* Lemon */
    font-family: 'Nanum Myeongjo', serif;
    box-sizing: content-box;    
    width: 219px;
    height: 40px;
    padding: 20px;    
}





/*################################################################################*/




/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


element.style {
    display: inline-block;
    background: transparent;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.signout-hide {
    visibility: hidden;
}

.signout-show {

    visibility: visible;

}

