

.restaurant_image {
    width: 270px;
    height: 250px;
    padding-bottom: 25px;
    margin-left: 30px;
}

.restaurant_image .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

}
#pic-in-column {
    padding-right: 0px;
}

.rest-info {
    font-family: 'Raleway', sans-serif;
}

#scroll {
    border: 5px solid #F5F5F5; /* Color - WhiteSmoke  */ 
    width: 500px;
    overflow: scroll;
    height: 600px;
    margin-left: 150px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
}

body  {
    margin: 0;
    background: url("/static/images/background_all.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: transparent;
    margin-bottom: 150px;
}
/*#price-icon {
    color: #F5F5F5;
}*/

#fav-button {
    color: #A52A2A;
}

#fav-button:hover {
    background-color: #DCB239; 
    color: #F5F5F5;
}

#yelp {
    color: #A52A2A;  /*Brown (Actually Red)*/ 
    font-size: 28px;
    margin-right: 10px;
}

#star {
    color: #A52A2A;  /*Brown (Actually Red)*/ 
}

#rating {
    color: #A9A9A9;
    font-family: 'Raleway', sans-serif; 
}

#column-background {
    background-color: #f2f2f2;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 462px;
}

/*Scroll Box content style*/
#rest-name-style {
    color: #A52A2A;  /*Brown (Actually Red)*/ 
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444;
    cursor: pointer;
    
}

#rest-name-style:hover {
    color: #DCB239;  /*lemon*/
}




