
{% extends 'base.html' %}

{% block content %}


<link rel="stylesheet" type="text/css" href="static/restaurant_info.css">

<div class="container">
  <div class="row">


    <div class="col-xs" id="column">
      <div id="restaurant_name">{{ restaurant.name }}</div>
        <div id="contact">Contact</div>
          <div> {{ restaurant.phone_number }} </div>
            <div id="address">{{ restaurant.address }} </div> 
              <a id="website" href="{{ restaurant.website_url }}" target="_blank">For Menu, Directions and More</a><br>
              <a id="website" href="https://www.opentable.com/san-francisco-restaurants" target="_blank"> Make a Reservation</a><br>
              <a id="website" href="https://help.lyft.com/access/unauthenticated" target="_blank">Grab a Lyft to your Restaurant</a>
    </div>

    <div class="col-xs text-center vertical-center" style="margin-left: 78px;">

      <div id="hours-operation">Hours of Operation</div>
      <div>Monday:<span id="m">{{ m_hours }}</span></div> 
      <div>Tuesday:<span id="t">{{ t_hours }}</span></div>
      <div>Wednesday:<span id="w">{{ w_hours }}</span></div>
      <div>Thursday:<span id="th">{{ th_hours }}</span></div>
      <div>Friday:<span id="f">{{ f_hours }}</span></div>
      <div>Saturday:<span id="sat">{{ sa_hours }}</span></div>
      <div>Sunday:<span id="sun">{{ su_hours }}</span></div>

    </div>
  </div>
</div>


{% endblock %}

