{% extends 'base.html' %}

{% block content %}




<h2>Restaurants</h2>
<br>
<div>
<div id="map">
  {% for restaurant in restaurants %}
  <script>
  var map;
  var restaurant_location = {{ restaurant.latitude }}, {{ restaurant.longitude }};

  function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
  zoom: 12,
  center: restaurant_location
  });
  </script>
 </div> 
  <img class="restaurant_image" src="{{ restaurant.picture }}">
    <div>{{ restaurant.name }} |  Average Yelp Rating: {{ restaurant.avg_rating }}/5 Stars</div>
    <div> {{ restaurant.phone_number }} </div>
    <div>{{ restaurant.address }} </div> 
    <div>
      <a href="{{ restaurant.website_url }}">Yelp Website: {{ restaurant.name }}</a>
    </div>
    <form action="/favorite" method="POST">
      <div class="form-group">
        <input id="fav" type="submit" value="Favorite">
      </div>
    </form> 
  {% endfor %}
<br>
</div>

<h2>Bakeries</h2>
<br>
<div>
<div id="map">
  {% for bakery in bakeries %}
  <script>
  var map;
  var bakery_location = {{ bakery.latitude }}, {{ bakery.longitude }};

  function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
  zoom: 12,
  center: bakery_location
  });
  </script>
</div>
  <img class="bakery_image" src="{{ bakery.picture }}">
    <div>{{ bakery.name }} |  Average Yelp Rating: {{ bakery.avg_rating }}/5 Stars</div>
    <div> {{ bakery.phone_number }} </div>
    <div>{{ bakery.address }} </div> 
    <div>
      <a href="{{ bakery.website_url }}">Yelp Website: {{ bakery.name }}</a>
    </div>
    <form action="/favorite" method="POST">
      <div class="form-group">
        <input id="fav" type="submit" value="Favorite">
      </div>
    </form> 
  {% endfor %}
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi3TXl5rieFcFdscrRjL8d4L9H4IwfHEw&callback=initMap&libraries=geometry"
async defer>
</script>



{% endblock %}



