{% extends 'base.html' %}

{% block content %}




<h2>Restaurants</h2>
<br>
<div>
{% for restaurant in restaurants %}
  <img class="restaurant_image" src="{{ restaurant.picture }}">
    <div>{{ restaurant.name }}</div>
    <div>{{ restaurant.types_of_food }}</div>
    <div>Average Yelp Rating: {{ restaurant.avg_rating }}/5 Stars  |  {{ restaurant.price }}</div>
    <div>Contact</div>
      <div> {{ restaurant.phone_number }} </div>
      <div>{{ restaurant.address }} </div> 
      <a href="{{ restaurant.website_url }}">Yelp Website: {{ restaurant.name }}</a>
    
    {% if "user_id" in session %}
      <form class="favorite_form_rest" action="/favorite" method="POST" id={{ restaurant.restaurant_id }}>
        <div class="form-group">
          <input id = "restaurant-id-{{ restaurant.restaurant_id }}" type="hidden" name="restaurant_id" value="{{ restaurant.restaurant_id }}">
            <input id = "restaurant-name-{{ restaurant.restaurant_id }}" type="hidden" name="restaurant_name" value="{{ restaurant.name }}">
          <input type="submit" value="Favorite">
        </div>
      </form> 
    {% else %}
    <h3>Create an Account to access other features</h3>
    {% endif %}
{% endfor %}
</div>
<br>


<h2>Bakeries</h2>
<br>
<div>
  {% for bakery in bakeries %}
  <img class="bakery_image" src="{{ bakery.picture }}">
    <div>{{ bakery.name }}</div>
    <div>{{ bakery.types_of_food }}</div>
    <div>Average Yelp Rating: {{ bakery.avg_rating }}/5 Stars  |  {{ bakery.price }}</div>
    <div>
      Contact
      <div> {{ bakery.phone_number }} </div>
      <div>{{ bakery.address }} </div> 
      <a href="{{ bakery.website_url }}">Yelp Website: {{ bakery.name }}</a>
    </div>
    {% if "user_id" in session %}
    <form class="favorite_form_bake" action="/favorite" method="POST" id={{ bakery.restaurant_id }}>
      <div class="form-group">
        <input id = "bakery-id-{{ bakery.restaurant_id }}" type="hidden" name="bakery_id"  value="{{ bakery.bakery_id }}">
        <input id = "bakery-name-{{ bakery.restaurant_id }}" type="hidden" name="bakery_name" value="{{ bakery.name }}">
        <input type="submit" value="Favorite">
      </div>
    </form> 
    {% else %}
    <h3>Create an Account to access other features</h3>
    {% endif %}
  {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="/static/js/submit_favorites.js"></script>





{% endblock %}



