{% extends 'base.html' %}

{% block content %}




<div>
{% if results %}
<div class="container">
      
<!--////// ROW //////-->

  <div class="row" id="row">

  <!--//////   Restaurants  ////// -->
    <div class="col" id="scroll">

<!--////// ROW within Column //////-->

      <div class="row" style="margin-right: 0; boxing-size: 0;">
        {% for restaurant in results %}
        <!-- <div class="row"> -->

        <!-- Column 1: displaying image of Restaurants -->
          <div class="col" style="padding-right: 0;">
             <img class="restaurant_image" src="{{ restaurant.picture }}" alt="This is a user photo.">
           </div>

        <!-- Column 2: Restaurant Info -->
         <div class="col" id="column-background">

           <!-- Add Favorites -->
     
          {% if "user_id" in session %}
            <form class="favorite_form_rest" action="/favorite" method="POST" id="{{ restaurant.restaurant_id }}">
              <input id = "restaurant-id-{{ restaurant.restaurant_id }}" type="hidden" name="restaurant_id" value="{{ restaurant.restaurant_id }}">
              <input id = "restaurant-name-{{ restaurant.restaurant_id }}" type="hidden" name="restaurant_name" value="{{ restaurant.name }}">
              <button type="submit" id="fav-button">
                <i class="fas fa-heart"></i>
              </button>
            </form>
          {% else %}  
           <!-- Hide Favorite Button -->
           
          {% endif %}
            <form class="rest-info" action="/rest_info" method="POST" id="{{ restaurant.restaurant_id }}">
              <input id = "rest-id-{{ restaurant.restaurant_id }}" type="hidden" name="rest_id" value="{{ restaurant.restaurant_id }}">
              <input id = "rest-name-{{ restaurant.restaurant_id }}" type="hidden" name="rest_name" value="{{ restaurant.name }}">
              <input type="submit" id="rest-name-style" value="{{ restaurant.name }}">
            </form> 
            <span id="food-types">{{ restaurant.types_of_food }}</span><span id="price-icon">{{ restaurant.price }}</span>
          <br>
            <i id="yelp"class="fab fa-yelp"></i><span id="rating">Yelp Rating |  </span>
            {% for i in range(restaurant.avg_rating) %}
              <i id="star"class="fas fa-star"></i>
            {% endfor %}



          <!-- Restaurant Location on Map -->
          <div> 
            <input type="hidden" class="coordinates" value= "{{ restaurant.latitude }} {{ restaurant.longitude }}">
            <input type="hidden" class="rest_name" value="{{ restaurant.name }}">
            <input type="hidden" class="rest_type" value="{{ restaurant.types_of_food }}">
          </div>
        

       </div>
       {% endfor %}
      </div>
    </div>


  
   
    



 <!-- Map Column-->
      <div class="col">

        <div id="map"></div>
          <script 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi3TXl5rieFcFdscrRjL8d4L9H4IwfHEw">
          </script>
          <div> 
            <input type="hidden" class="hood_id" value= "{{ neighborhood.neighborhood_id }}">
            <input type="hidden" class="hood_lat" value= "{{ neighborhood.lat }}">
            <input type="hidden" class="hood_lng" value= "{{ neighborhood.lng }}">
          </div>

      </div>





{% else %}
<h1 class="text-center vertical-center" id="none-found">No Results Found.</h1>
<h2 class="text-center vertical-center" id="none-found2">Please try again by clicking: <span id="filtering-search"> Filter Your Search</span> tab above.</h2>
{% endif %}
</div>


</div>
</div>
</div>
</div>

<script type="text/javascript" src="/static/js/googlemap-rest.js"></script>
{% endblock %}

