<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/sign-up.css">
  <link rel="stylesheet" type="text/css" href="static/restaurants.css">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Lato|Lobster|Nanum+Myeongjo|Old+Standard+TT|Raleway|Tangerine" rel="stylesheet">

  <title>Glutie</title>
</head>
<body>


<div class="container vertical-center" id="sign-up-container">
  <div class="row" id="sign-up-row">
    <div class="col-xs toggle text-center vertical-center" id="column">

      <h1 id="sign-up-title">Create a New Account</h1>

        <form class="signup_form"action="/thankyou" method="POST" id="sign-up-form">
            First Name <input type="text" name="firstname" id="first" required>
          <br></br>
            Last Name <input type="text" name="lastname" id="last" required>
          <br></br>
            Your Email <input type="email" name="email" id="email" required>
          <br></br>
            <label id="l-confirm-email">Confirm Email</label> <input type="email" name="confirm_email" id="confirm-email" required>
          <br></br>
            <label id="l-zip">Zipcode</label> <input type="text" name="zipcode" id="zipcode"required>
          <br></br>
            <label id="l-pass">Password</label><input type="password" name="password" id="password" required>
          <br></br>
            <label id="l-confirm-pass">Confirm Password</label> <input type="password" name="confirm_password" id="confirm-password" required>
          <br></br>
            <input type="checkbox" name="terms" value="term" id="terms" required><label id="yes-terms">Yes, I agree to Glutie.com Terms of Use</label>
          <br></br>
            <input id="sign-up-button" data-toggle="modal" data-target="#myModal" type="submit" value="Sign Up">
        </form>

        <!-- ////// Modal ////// -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Glutie</h4>
        </div>
        <div class="modal-body">
              <p>Yay! You have successfully signed up! Glutie is now going to take you to your profile. </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn default" data-dismiss="modal">Close</button>
        </div>  
      </div>
    </div>
  </div>

    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


</body>
</html>