{% extends 'base.html' %}


{% block content %}
    
    <h1>Create a New Account</h1>

    <form>
        First Name:   <input type="text" name="firstname">
    </form>
    <br></br>
    <form>
        Last Name:   <input type="text" name="lastname">
    </form>
    <br></br>
    <form>
        Your Email   <input type="text" name="email">
    </form>
    <br></br>
    <form>
        Confirm Email   <input type="text" name="confirm_email">
    </form>
    <br></br>
    <form>
        Zipcode   <input type="text" name="firstname">
    </form>
    <br></br>
    <form>
        Password   <input type="text" name="password">
    </form>
    <br></br>
    <form>
        Confirm Password   <input type="text" name="confirm_password">
    </form>
    <br></br>
    <form>
      <input type="checkbox" name="terms" value="term"> Yes, I agree to Glutie.com Terms of Use
    </form>
    <br></br>
    <form>
      <input type="submit" value="Sign Up">
    </form>

{% endblock %}