{% extends 'base.html' %}

{% block content %}
    
    <h1>Create a New Account</h1>

    <form action="/thankyou" method="POST">
        First Name   <input type="text" name="firstname">
      <br></br>
        Last Name   <input type="text" name="lastname">
      <br></br>
        Your Email   <input type="text" name="email">
      <br></br>
        Confirm Email   <input type="text" name="confirm_email">
      <br></br>
        Zipcode   <input type="text" name="zipcode">
      <br></br>
        Password   <input type="text" name="password">
      <br></br>
        Confirm Password   <input type="text" name="confirm_password">

      <br></br>
        <input type="checkbox" name="terms" value="term"> Yes, I agree to Glutie.com Terms of Use
      <br></br>
        <input type="submit" value="Sign Up">
    </form>

{% endblock %}